html, body {
	margin: 0;
	height: 100%;
}

#container-app {
	height: 100%;
	width: 100%;
}

#container-map {
	position: absolute;
	right: 0px;
	height: 100%;
	width: 73%;
	background-color: #ccff66;
}

#side-bar {
	position: absolute;
	left: 0px;
	height: 99.7%;
	width: 27%;
	background-color: white;
	border:solid 0.3px;
}

#search-section {
	position:absolute;
	top: 0px;
	width: 100%;
	height: 35%;
	padding-left: 5px;
}

#search-section h2 {
	margin-top: 0.5em;
}

#info-section {
	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 65%;
	border-top:solid 0.1px;
}

#search-section input {
	width: 90%;
	height: 30px;
}

#location-title {
	padding-left: 5px;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

#location-adress {
	margin-top: 0.5em;
	padding-left: 5px;
}

#location-description {
	padding-left: 5px;
	padding-right: 5px;
}

#location-picture-container {
	width: 100%;
	height:190px;
	overflow: hidden;
}

#location-picture {
	width: 100%;
}

#add-section {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 73%;
	height: 200px;
	background-color: white;
	border-top: solid 0.3px;
}